html, body {
    height: 100%;
}

body {
    margin: auto;
    line-height: 2em;
    font-size: 100%;
    color: ##FCFCFC;
    width: 90%; 
    min-width: 500px;
    background-color: 
    background-image: url("../img/debut_light.png");
}



h1, h2, h3, h4, h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0px;
}

h2, h3, h4, h5 {
    font-family: sans-serif;
}

h1 {
    font-size: 2.5em; /* 36 px  / 16 px */
    margin: 10px 0 12px 10px;
    font-family: 'Montserrat', verdana, sans-serif;
}

h2 {
    font-size: 2em; /* 28 px  / 16 px */
    margin: 10px 0 10px 10px;
}

h3 {
    font-size: 1.125em; /* 18 px / 16 px */
}

nav {
    width: 89.9888888%;
    overflow: visible;
    position: fixed;
    top: 0;
    background-color: #6E6E6E;
    height: 46px;
    line-height: 46px;
}

nav a {
    text-decoration: none;
    color: #FCFCFC;
    display: block;
}

nav a#logo {
    font-family: 'Arbutus Slab', serif;
    font-size: 1.125em;
    margin: 0 10px 0 0;
    padding: 0 10px;
}

nav a#logo {
    float: left;
}

nav a#logo:visited, nav a#logo:link {
    background-color: #0F0D0F
}

nav a#logo:hover, nav a#logo:active {
    background-color: #E8E3E7;
}

nav #location {
    float: left;
    color: #FCFCFC;
}

nav ul {
    float: right;
    width: 50%;
}

nav li {
    display: inline;
}

nav ul li a{
    width: 70px;
    float: right;
    border-top: 5px solid #0F0D0F;
    line-height: 41px;
    text-align: center;
}

nav #links a:hover{
    border-color: #FCFCFC;
}

nav ul, img {
    margin: 0;
    padding: 0;
}

#site_name_header {
    width: 100%;
}

#site_name_header  h1{
    margin-top: 125px;
    margin-bottom: 25px;
    line-height: 50px;
    font-size: 3.5em;
    margin-left: 1.302083333333333333333333333333%;
}

.cbox {
    float: left;
}

.section{
    /* margin-bottom: 2.6041666666666666666666666666667%; */
    padding: 2.6041666666666666666666666666667% 0px;
    overflow: hidden;
    clear: both;
    border-top: 3px solid #333;
}

#yes_no_box {
    width: 48.697916666666666666666666666667%; /* half, allowing for 10px margin */
    height: 150px;
    margin-right: 2.6041666666666666666666666666667%; /* equiv of 10px margin */
}

#yes_no_box h1 {
    margin: 33px 0 0 10%;
    font-size: 6em;
    line-height: 100px; 
    text-align: center;
}

#wind_box {
    width: 48.597916666666666666666666666667%; /* half, allowing for 10px margin */
    height: 150px;
}

#wind_box h1{
    margin: 30px 0 0 5%;
}

#wind_box ul {
    margin-left: 20%;
}

#weather_box {
    width: 73.697916666666666666666666666667%; /* 3/4 of 100%, allowing for 10px margin */
    height: 225px;
    margin-right: 1.302083333333333333333333333333%;
    padding-top: 30px;
}

#weather_box li {
    display: inline;
    list-style: none;
}

#weather_box ul {
    float: left;
    margin: 12px 0 10px 4.1782729805%;
    width: 90%;
    padding: 0;
}

.weather_item img, h2 {
    float: left;
}

.weather_label {
    margin-left: 7.6687116564417177914110429447853%;
}

.weather_value {
    float: right;
    margin-left: 0px;
}

#kites_we_like {
    width: 23.597916666666666666666666666667%; /* 1/4 of 100%, allowing for 10px margin */
    max-width: 200px;
    height: 225px;
    padding-top: 30px;
}

#kites_we_like h2 {
    height: 175px;
    line-height: 1.25em;
    text-align: center;
    margin: 10px 0px;
    border: 1px solid #F22D1C;
    border-radius: 8px;
    color: #e;
    background-color: #E10327;
    padding: 25px 5px 0px 5px;
}

#kites_we_like a {
    text-decoration: none;
    color: #FCFCFC;
}