html, body {
    height: 100%;
}

body {
    margin: auto;
    line-height: 2em;
    font-size: 100%;
    color: #1C1C1C;
    width: 90%; 
    font-family: 'Arbutus Slab', georgia, serif;
    min-width: 500px;
    max-width: 768px;
    background-image: url("../../static/img/debut_light.png");
}

form, p {
    color: #1C1C1C;
}

a {
    text-decoration: none;
    color: #FCFCFC;
}

h1 {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 3em; /* 48 px  / 16 px */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 10px 0 12px 10px;
}

h2 {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 2em; /* 28 px  / 16 px */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 10px 0 10px 10px;
}

h3 {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 1.375em; /* 22 px / 16 px */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 10px 0 10px 10px;
}

h4 {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 1.125em; /* 18px / 16px */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}

h5 {
    font-family: 'Montserrat', verdana, sans-serif;
    font-size: 1em; /* 16px / 16px */
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
}

blockquote {
    font-size: 1.25em; /* 20 px / 16 px */
}

em {
    font-weight: bold;
    font-style: normal;
}

nav {
    width: 100%;
    overflow: visible;
    background-color: #6E6E6E;
    height: 46px;
    line-height: 46px;
}

nav a {
    display: block;
}

a.logo {
    font-family: 'Arbutus Slab', georgia, serif;
    font-size: 1.125em;
    margin: 0 10px 0 0;
    padding: 0 10px;
    float: left;
}

a.logo:visited, a.logo:link {
    background-color: #222222
}

a.logo:hover, a.logo:active {
    background-color: #333333;
}

nav .location {
    float: left;
}

nav ul {
    float: right;
}

nav li {
    display: inline;
}

nav ul li a{
    width: 70px;
    float: right;
    border-top: 5px solid #222222;
    line-height: 41px;
    text-align: center;
}

nav .links a:hover{
    border-color: #DDDDDD;
}

nav ul, img {
    margin: 0;
    padding: 0;
}

.site_name_header {
    width: 100%;
}

.page_title {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 1.302083333333333333333333333333%;
    line-height: 50px;
    font-size: 3.5em;
}

form {
    position: relative;
    left: 1.302083333333333333333333333333%;
    width: 80%;
    margin: auto;
    
}

form .form_location {
    width: 75%;
    margin: 0 auto;
    font-size: 1.5em;
}

form .submit {
    width: 21.99999%;
    min-width: 4em;
    border-radius: 2px;
    border: 1px solid #1C1C1C;
    font-size: 1.5em;
    color: #FCFCFC;
    background-color: #222;
}

.cbox {
    float: left;
}

.section{
    padding: 2.6041666666666666666666666666667% 0;
    overflow: hidden;
    clear: both;
    border-top: 3px solid #333;
}

.yes_no_box {
    width: 48.697916666666666666666666666667%; /* half, allowing for 10px margin */
    height: 150px;
    margin-right: 2.6041666666666666666666666666667%; /* equiv of 10px margin */
}

.yes_no_txt {
    margin: 10px 0 0 10%;
    font-size: 6em;
    line-height: 100px; 
    text-align: center;
}

.yes_no_msg {
    margin: 0 0 0 10%;
    text-align: center;
    line-height: 1.5em;
}

.wind_box {
    width: 48.597916666666666666666666666667%; /* half, allowing for 10px margin */
    height: 150px;
}

.wind_speed {
    margin: 40px 0 0 40px;
    
}

.wind_direction {
    margin: 0 0 0 62px;
}

.wind_box img {
    float: left;
    width: 32px;
    height: 32px;
    position: relative;
    top: 15px;
    margin-right: 30px;
}

.wind_box ul {
    list-style: none;
    padding: 0;
    float: left;
    width: 75%;
    margin-left: 20%;
}

.wind_box il {
    display: inline
}

.weather_box {
    width: 73.697916666666666666666666666667%; /* 3/4 of 100%, allowing for 10px margin */
    height: 225px;
    margin-right: 1.302083333333333333333333333333%;
    padding-top: 30px;
}

.weather_box li {
    display: inline;
    list-style: none;
}

.weather_box ul {
    float: left;
    margin: 12px 0 10px 4.1782729805%;
    width: 90%;
    padding: 0;
}

.weather_item img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 10px 0 10px 20px;
}

.weather_item {
    float: left;
}

.weather_label {
    margin-left: 5.6687116564417177914110429447853%;
    float: left;
    
}

.weather_value {
    float: right;
    margin-left: 0;
}

.kites_we_like {
    width: 25%;
    height: 200px;
    padding-top: 30px;
}

.kite_button {
    font-family: 'Montserrat', verdana, sans-serif;
    text-align: center;
    font-size: 1.5em;
    width: 75%;
    max-width: 139px;
    min-width: 100px;
    height: 139px;
    line-height: 1.25em;
    margin: 20px auto;
    padding: 10px 10px;
    border: 1px solid #1C1C1C;
    border-radius: 8px;
    background: #E22C33;
    background: -moz-linear-gradient(top,  #E22C33 0%, #AF1D15 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#E22C33), color-stop(100%,#AF1D15)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #E22C33 0%,#AF1D15 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #E22C33 0%,#AF1D15 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #E22C33 0%,#AF1D15 100%); /* IE10+ */
    text-decoration: none;
    color: #FCFCFC;
    display: block;
}

.footer {
    margin-top: 30px;
    background-color: #6E6E6E;
    border-top: 3px solid #333;
    height: 5em;
    clear: both;
}

.footer_text {
    margin: 0.5em 0 0 1em;
    display: block;
}