{% extends "layout.html" %}
{% block title %}About - {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block top %}
<h1 class="page_title">About</h1>
{% endblock %}
{% block content %}
<h2>What</h2>
<p><em>Can I Fly my Kite</em> is a tool for kite fliers to quickly and easily determine if it is "weathery" enough outside to fly. Nothing else is as easy, painless, and to the point!</p>

<h2>How</h2>
<p>We are state-of-the-art: Weather and location data comes straight from <a href="http://www.wunderground.com/?apiref=0fefffb446ca61ee">Wunderground.com</a>. Everything is pieced together with vanilla HTML and CSS and backed up with a Python core.</p>

<p>Why not <a href="https://github.com/joelwilson/caniflymykite" target="_blank">Check out the code</a>?</p>

<h2>Who</h2>
<p><em>Can I Fly my Kite</em> was created as a personal learning experience. Check me out on <a href="http://twitter.com/joel_wilson" target="_blank">Twitter</a> or <a href="https://github.com/joelwilson" target="_blank">GitHub</a>.</p>
{% endblock %}