{% extends "index.html" %}
{% block title %}About{% endblock %}
{% block top %}
<h1>About</h1>
{% endblock %}
{% block content %}
<p>The idea for Can I Fly My Kite came to me one day from the sad notion that, should the urge to fly a kite arise while in-doors, it is difficult or, at the very least, cumbersome to quickly determine if the weather outside is condusive to the flying of kites.
</p>
<p>Of course there are snazzy, feature-rich, and fully loaded web services out there that will begrudgingly give out weather data, and I tip my imaginary hat to anyone who can navigate the horror that is weather.com, but good luck trying to get any of those services to translate raw weather data in to kite-flyingness (sort-of-a-word).
</p>
<p>This is the <em>essence of Can I Fly My Kite</em>: to be the translator of weather info for kite flyers of the world. It takes the weather information for your location and provide a simple <em>yes or no answer</em>, immediately answering the nagging question that kite enthusiasts often ponder:
</p>
<blockquote>Can I Fly My Kite?</blockquote>
{% endblock %}