<!DOCTYPE HTML>
<html lang='en'>
    <head>
        {% block head %}
        <meta NAME="Description" CONTENT="Find out if the weather is suitable for flying your kite."/>
        <meta name="google-site-verification" content="hy1ymJXerIWdU0_3VgSc4sQflQFoV5qI6f6r3ddc4B4" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}{{ location }}{% endblock %} - Can I Fly My Kite?</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico')}}"/>
        <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
        <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'/>
        {% endblock %}
    </head>
<body>
    <nav>
        <a href="/" id="logo">CanIFlyMyKite?</a>
        <a href="#" id="location">{{ location }}</a>
        <ul id="links">
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/kites">Kites</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <div class="section cbox" id="site_name_header">
            {% block top %}
            <h1>Can I Fly My Kite?</h1>
            <form action="/get_weather" method="get">
                <input type="text" value="enter zip code" id="form_location" name='form_location'/>
                <button type="submit" id="submit">CIFMK?</button>
            </form>
            {% endblock %}
    </div>
    <div id="content">
        {% block content %}
        <!-- 1st section: Answer & Wind Speed -->
        <div class="section">
            <div class="cbox" id="yes_no_box">
                {% if wind_speed >= 8 and rain_chance < 15 %}
                <h2>YES!</h2>
                {% else %}
                <h2>no.</h2>
                {% endif %}
            </div>
            <div class="cbox" id="wind_box">
                <ul>
                    <li><img src="{{ url_for('static', filename='img/sock_2.jpg')}}" alt="Wind Speed"/><h2>{{ wind_speed }} mph</h2></li>
                    <li><h3>{{ wind_dir }}</h3></li>
                </ul>
            </div>
        </div>
        <!-- 2nd section: Weather box & kites we like callout-->
        <div class="section">
            <div class="cbox" id="weather_box">
                <h1>Weather</h1>
                <ul class="weather_item" id="rain_chance">
                    <li><img src="{{ url_for('static', filename='img/rain.jpg')}}" alt="Rain Chance"/></li>
                    <li><h2 class="weather_label">Rain Chance</h2></li>
                    <li><h2 class="weather_value">{{ rain_chance }}%</h2></li>
                </ul>
                <ul class="weather_item" id="temperature">
                    <li><img src="{{ url_for('static', filename='img/temp_r.jpg')}}" alt="Temperature"/></li>
                    <li><h2 class="weather_label">Temperature</h2></li>
                    <li><h2 class="weather_value">{{ current_temp }}&#176;F</h2></li>
                </ul>
            </div>
            <div id="kites_we_like" class="cbox">
                <a href="/kites"><h2>Check out the kites we enjoy!</h2></a>
            </div>
        </div>
        {% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        <div>&copy; Copyright 2013 <a href="mailto:joelwwilson@gmail.com">Joel Wilson</a> // <a href="http://twitter.com/joel_wilson">Twitter</a> // <a href="https://github.com/elbinray">Github</a></div>
        {% endblock %}
    </div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37561962-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</body>

</html>