{% extends "layout.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <meta property="fb:admins" content="139600845" />
    <style type="text/css">
        #site_name_header h1 {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}
{% block top %}
    <h1 class="page_title centered">Can I Fly My Kite?</h1>
    <form action="/weather" method="get">
        <input type="text" placeholder="city, state or zip code" class="form_location" name='location' maxlength=64 autofocus/>
        <button type="submit" class="submit">CIFMK</button>
    </form>
    <div class="tip_text">Enter your location above to get started</div>
{% endblock %}
{% block content %}
    <div class="section">
        <h2>Featured Places</h2>
        {% for place in featured_places %}
        <div class="col_1_3rd featured">
            <a href="/weather?lat={{ place['lat'] }}&lon={{ place['lon'] }}">
            <ul class="box_pad">
                <li><h3>{{ place['name'] }}</h3></li>
                <li><span>{{ place['canfly'][0] }}</span></li>
                <li><span>{{ place['wind_speed'] }} mph</span></li>
                <li><span>{{ place['temperature'] }}&#8457;</span></li>
            </a>
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}