{% extends "layout.html" %}
{% block title %}Kites - {% endblock %}
{% block top %}
{% endblock %}
{% block content %}
<h1 class="page_title">Kites We Like</h1>
<!-- Casual Kites section -->
<div class="section">
<h2>Casual Kites</h2>
    <div class="col_1_3rd kite">
        <div class="kite_header"><h3>Prism Nexus</h3></div>
        <div class="attributes_section">
            <ul>
                <li><span class="kite_attribute">Difficulty</span><span class="">***--</span></li>
                <li><span class="kite_attrib">Pull</span><span class="">**---</span></li>
                <li><span class="kite_attrib">Speed</span><span class="">*****</span></li>
                <li><span class="kite_attrib">Price</span><span class="">$$$--</span></li>
            </ul>
        </div>
        <blockquote>Leave the rest in the dust.</blockquote>
        <div class="info_section">
            <h4>More Info</h4>
            <ul>
                <li><a href="http://amazon.com">Amazon</a></li>
                <li><a href="http://www.prismkites.com">Manufacturer</a></li>
                <li><a href="http://youtube.com">Video</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}