{% extends "layout.html" %}
{% block title %}Kites - {% endblock %}
{% block top %}
{% endblock %}
{% block content %}
<h1 class="page_title">Kites We Like</h1>
<!-- Casual Kites section -->
<div class="section">
<h2>Casual Kites</h2>
    <div class="col_1_3rd kite">
        <div class="kite_header">
            <h3>Prism Nexus</h3>
            <img alt="Prism Nexus" src="../../static/img/kites/prism_nexus.png"">
        </div>
        <h4>Attributes</h4>
        <div class="attributes_section">
            <ul>
                <li><span class="attribute">Difficulty</span><span class="rating">&#10022;&#10022;&#10022;&#10023;&#10023;</span></li>
                <li><span class="attribute">Power</span><span class="rating">&#10022;&#10022;&#10023;&#10023;&#10023;</span></li>
                <li><span class="attribute">Speed</span><span class="rating">&#10022;&#10022;&#10022;&#10023;&#10023;</span></li>
                <li><span class="attribute">Price</span><span class="rating">&#10022;&#10022;&#10022;&#10022;&#10023;</span></li>
            </ul>
        </div>
        <div class="info_section">
            <h4>More Info</h4>
            <ul>
                <li><a href="http://amazon.com"><span>Amazon</span></a></li>
                <li><a href="http://www.prismkites.com"><span>Manufacturer</span></a></li>
                <li><a href="http://youtube.com"><span>Video</span></a></li>
            </ul>
        </div>
    </div>
    <div class="col_1_3rd kite">
        <div class="kite_header">
            <h3>Prism Nexus</h3>
            <img alt="Prism Nexus" src="../../static/img/kites/prism_nexus.png"">
        </div>
        <h4>Attributes</h4>
        <div class="attributes_section">
            <ul>
                <li><span class="attribute">Difficulty</span><span class="rating">&#10022;&#10022;&#10022;&#10023;&#10023;</span></li>
                <li><span class="attribute">Power</span><span class="rating">&#10022;&#10022;&#10023;&#10023;&#10023;</span></li>
                <li><span class="attribute">Speed</span><span class="rating">&#10022;&#10022;&#10022;&#10023;&#10023;</span></li>
                <li><span class="attribute">Price</span><span class="rating">&#10022;&#10022;&#10022;&#10022;&#10023;</span></li>
            </ul>
        </div>
        <div class="info_section">
            <h4>More Info</h4>
            <ul>
                <li><a href="http://amazon.com"><span>Amazon</span></a></li>
                <li><a href="http://www.prismkites.com"><span>Manufacturer</span></a></li>
                <li><a href="http://youtube.com"><span>Video</span></a></li>
            </ul>
        </div>
    </div>
    <div class="col_1_3rd kite">
        <div class="kite_header">
            <h3>Prism Nexus</h3>
            <img alt="Prism Nexus" src="../../static/img/kites/prism_nexus.png"">
        </div>
        <h4>Attributes</h4>
        <div class="attributes_section">
            <ul>
                <li><span class="attribute">Difficulty</span><span class="rating">&#10022;&#10022;&#10022;&#10023;&#10023;</span></li>
                <li><span class="attribute">Power</span><span class="rating">&#10022;&#10022;&#10023;&#10023;&#10023;</span></li>
                <li><span class="attribute">Speed</span><span class="rating">&#10022;&#10022;&#10022;&#10023;&#10023;</span></li>
                <li><span class="attribute">Price</span><span class="rating">&#10022;&#10022;&#10022;&#10022;&#10023;</span></li>
            </ul>
        </div>
        <div class="info_section">
            <h4>More Info</h4>
            <ul>
                <li><a href="http://amazon.com"><span>Amazon</span></a></li>
                <li><a href="http://www.prismkites.com"><span>Manufacturer</span></a></li>
                <li><a href="http://youtube.com"><span>Video</span></a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}