{% extends "layout.html" %}
{% block title %}Kites - {% endblock %}
{% block top %}
<h1 class="page_title">Kites We Like</h1>
<p class='col_1_half'>We scoured the Internet and quizzed the knowledgable experts at the <a href="http://www.gwtwforum.com" target="_blank">GWTW Kite Forum</a> in order to assemble the groups of reliable kites listed on this page. Our hope is to help people find the right kite for them by presenting quality and reliable kites alongside actionable information.</p>
<!-- kite attribute legend -->
<div class='col_1_half standout legend'>
    <h3>Skills</h3>
    <table>
        <tr>
            <th scope="col"><h4>Novice</h4></th>
            <th scope="col"><h4>Advanced</h4></th>
            <th scope="col"><h4>Expert</h4></th>
        </tr>
        <tr>
            <td>New kid on the block.</td>
            <td>Got a feel for it.</td>
            <td>Been around the block.</td>
        </tr>
    </table>
    <h3>Wind Speed (mph)</h3>
    <table>
        <tr>
            <th scope="col"><h4>Low</h4></th>
            <th scope="col"><h4>Med</h4></th>
            <th scope="col"><h4>High</h4></th>
        </tr>
        <tr>
            <td>2 - 5</td>
            <td>6 - 15</td>
            <td>16 - 25</td>
        </tr>
    </table>
    
    
</div>
{% endblock %}
{% block content %}
<div class="section">
<h2>Single-Line Kites</h2>
<div class="subtitle">Great single-line no-frills kites for casual fliers.</div>
    {% for kite in kites['single line'] %}
    {% if kite['order'] != '9' %}
        <div class="col_1_3rd standout kite">
            <div class="kite_header">
                <h3>{{ kite['name'] }}</h3>
                <a href="{{ kite['amazon url'] }}" target="_blank"><img alt={{ kite['name'] }} src="../../static/img/kites/{{ kite['image_name'] }}"></a>
            </div>
            <h4>Attributes</h4>
            <div class="attributes_section">
                <ul>
                    <li><span class="attribute">Skill</span><span class="rating">{{ kite['skill'] }}</span></li>
                    <li><span class="attribute">Pull</span><span class="rating">{{ kite['pull'] }}</span></li>
                    <li><span class="attribute">Speed</span><span class="rating">{{ kite['speed'] }}</span></li>
                    <li><span class="attribute">Wind</span><span class="rating">{{ kite['wind_text'] }}</span></li>
                    <li><span class="attribute">Price</span><span class="rating">{{ kite['price_range'] }}</span></li>
                </ul>
            </div>
            <div class="info_section">
                <h4>More Info</h4>
                <ul>
                    <li><a href="{{ kite['video_url'] }}" target="_blank"><span>Video</span></a></li>
                    <li><a href="{{ kite['manufacturer_url'] }}" target="_blank"><span>Manufacturer</span></a></li>
                    <li><a href="{{ kite['amazon url'] }}" target="_blank"><span>Reviews | Buy</span></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>

<div class="section">
<h2>Dual-Line Stunt Kites</h2>
<div class="subtitle">Reliable and solid dual-line stunt kites for people who want to zig, zag, and tumble.</div>
    {% for kite in kites['dual line'] %}
    {% if kite['order'] != '9' %}
        <div class="col_1_3rd standout kite">
            <div class="kite_header">
                <h3>{{ kite['name'] }}</h3>
                <a href="{{ kite['amazon url'] }}" target="_blank"><img alt={{ kite['name'] }} src="../../static/img/kites/{{ kite['image_name'] }}"></a>
            </div>
            <h4>Attributes</h4>
            <div class="attributes_section">
                <ul>
                    <li><span class="attribute">Skill</span><span class="rating">{{ kite['skill'] }}</span></li>
                    <li><span class="attribute">Pull</span><span class="rating">{{ kite['pull'] }}</span></li>
                    <li><span class="attribute">Speed</span><span class="rating">{{ kite['speed'] }}</span></li>
                    <li><span class="attribute">Wind</span><span class="rating">{{ kite['wind_range'] }}</span></li>
                    <li><span class="attribute">Price</span><span class="rating">{{ kite['price_range'] }}</span></li>
                </ul>
            </div>
            <div class="info_section">
                <h4>More Info</h4>
                <ul>
                    <li><a href="{{ kite['video_url'] }}" target="_blank"><span>Video</span></a></li>
                    <li><a href="{{ kite['manufacturer_url'] }}" target="_blank"><span>Manufacturer</span></a></li>
                    <li><a href="{{ kite['amazon url'] }}" target="_blank"><span>Reviews | Buy</span></a></li>
                </ul>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}