{% extends "layout.html" %}
{% block title %}{{ city_name }}, {{ state }} - {% endblock %}
{% block page_description %}"Weather information for {{ city_name }}, {{ state }}. Instantly find out if you can fly your kite right now!"{% endblock %}
{% block nav_location %}{% endblock %}
{% block top %}
    <h1 class="page_title">Can I Fly My Kite?</h1>
    <h2 class="sub_header">{{ full_name }}</h2>
{% endblock %}
{% block content %}
    <!-- 1st section: Answer & Wind Speed -->
    <div class="section">
        <div class="yes_no_box">
            <h2 class="yes_no_txt">{{ canfly[0] }}</h2>
            <h3 class="yes_no_msg">{{ canfly[1] }}</h3>
        </div>
        <div class="wind_box">
            <ul>
                <li><img src="{{ url_for('static', filename='img/sock.png')}}" alt="Wind Speed"/>
                    <h2 class="wind_mph">{{ wind_mph }} mph</h2></li>
                <li><h3 class="wind_kph">({{ wind_kph }} kph)</h3></li>
                <li><h3 class="wind_direction">{{ wind_dir }}</h3></li>
            </ul>
        </div>
    </div>
    <!-- 2nd section: Weather box & kites we like callout-->
    <div class="section">
        <div class="col_2_3rd weather_box">
            <h2>Weather</h2>
            <ul class="weather_item">
                <li><img src="{{ url_for('static', filename='img/rain.png')}}" alt="Rain Chance"/></li>
                <li><h3 class="weather_label">Rain Chance</h3></li>
                <li><h3 class="weather_value">{{ rain_prob }}%</h3></li>
            </ul>
            <ul class="weather_item">
                <li><img src="{{ url_for('static', filename='img/temp.png')}}" alt="Temperature"/></li>
                <li><h3 class="weather_label">Temperature</h3></li>
                <li><h3 class="weather_value">{{ temp_f }}&#176;F <span class="temp_c">({{ temp_c }}&#176;C)</span></h3></li>
            </ul>
        </div>
        <div class="col_1_3rd">
            <a href="/kites" class="kite_button">Kites</br>We</br>Like</a>
        </div>
    </div>
{% endblock %}